@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

:root {
    --cor0: #FFFF;
    --cor2: #D7D7D7;
    --cor3: #0054A6;
}

.fundo {
    background-color: var(--cor3);
    display: flex;
    width: 100%;
    height: 130px;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    position: absolute;
    margin-left: -1220px;
}

.nav-style {
    display: flex;
    gap: 200px;
    list-style: none;
}

.nav-link a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

body {
    background-color: var(--cor2);
}

.titulo {
    display: flex;
    flex-direction: column;
    margin: 40px 0px 40px 285px ;
}

.titulo p {
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    margin-bottom: 100px;
}

.pesquisa{
display: flex;
justify-content: space-between;
max-width: 700px;
margin: auto;
margin-top: 0px;
}
#filtrar {
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    color: var(--cor3);
}

table {
    display: block;
    border-collapse: collapse;
    border-top: 90px;
    border-right: 40px;
    border-left: 40px;
    border-bottom: 70px;
    border-style: solid;
    border-radius: 40px;
    border-color: var(--cor3);
}

th {
    background-color: rgb(97, 97, 97);
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    padding: 15px 30px 15px 30px;
    border: 1px solid black;
}

td {
    background-color: var(--cor2);
    padding: 5px;
    border: 1px solid black;
}

button {
    display: flex;
    gap: 20px;
    margin-left: 320px;
    margin-top: -150px;
    position: absolute;
}

#voltar a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor3);
}

#voltar {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.footer-fundo {
    background-color: var(--cor3);
    display: flex;
    height: 360px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.sobre {
    color: white;
    padding-top: 80px;
    padding-left: 90px;
}

#sobre-titulo {
    padding-bottom: 30px;
}

#sobre-subtitulo {
    color: rgba(255, 255, 255, 0.849);
}

.contatos {
    padding-top: 20px;
    margin-left: -5px;
}

.footer-link {
    margin: 0 8px;
    color: white;
}

.mapa {
    color: white;
    padding-top: 80px;
    padding-left: 150px;
}

#mapa-titulo {
    margin-bottom: 30px;
}

.footer-list {
    display: block;
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.849);
    text-decoration: none;
}

.informativos {
    color: white;
    padding-top: 80px;
    padding-left: 150px;
}

#informativos-titulo {
    padding-bottom: 30px;
}

p {
    color: rgba(255, 255, 255, 0.849);
}

#informativos-subtitulo {
    padding-bottom: 20px;
}

.creditos {
    display: flex;
    position: absolute;
    margin-top: 315px;
    margin-left: 525px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#criador {
    color: #6985ff;
}