@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

:root {
    --cor0: #FFFF;
    --cor2: #D7D7D7;
    --cor3: #0054A6;
}

.fundo {
    background-color: var(--cor3);
    display: flex;
    width: 100%;
    height: 130px;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    position: absolute;
    margin-left: -1220px;
}

.nav-style {
    display: flex;
    gap: 200px;
    list-style: none;
}

.nav-link a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

body {
    background-color: var(--cor2);
}

main h1, h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo {
    padding-top: 50px;
    padding-bottom: 40px;
}

#subtitulo {
    padding-bottom: 20px;
    font-weight: normal;
}

#subtitulo2 {
    padding-bottom: 30px;
    margin-left: -28px;
    font-weight: normal;
}

.botoes-principais {
    display: flex;
    gap: 70px;
    justify-content: center;
}

.botao-adicionar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adicionar {
    padding: 80px 120px 150px 120px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.548);
    border-radius: 5px;
}

.botao-historico {
    display: flex;
    align-items: center;
    justify-content: center;
}

.historico {
    padding: 70px 110px 140px 110px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.548);
    border-radius: 5px;
}

#titulo-botoes {
    display: flex;
    position: absolute;
    margin-top: 200px;
}

#subtitulo-botoes {
    display: flex;
    position: absolute;
    margin-top: 250px;
    color: rgb(58, 57, 57);
}

.footer-fundo {
    background-color: var(--cor3);
    display: flex;
    height: 360px;
    width: 100%;
    margin-top: 120px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.sobre {
    color: white;
    padding-top: 80px;
    padding-left: 90px;
}

#sobre-titulo {
    padding-bottom: 30px;
}

#sobre-subtitulo {
    color: rgba(255, 255, 255, 0.849);
}

.contatos {
    padding-top: 20px;
    margin-left: -5px;
}

.footer-link {
    margin: 0 8px;
    color: white;
}

.mapa {
    color: white;
    padding-top: 80px;
    padding-left: 150px;
}

#mapa-titulo {
    margin-bottom: 30px;
}

.footer-list {
    display: block;
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.849);
    text-decoration: none;
}

.informativos {
    color: white;
    padding-top: 80px;
    padding-left: 150px;
}

#informativos-titulo {
    padding-bottom: 30px;
}

p {
    color: rgba(255, 255, 255, 0.849);
}

#informativos-subtitulo {
    padding-bottom: 20px;
}

.creditos {
    display: flex;
    position: absolute;
    margin-top: 315px;
    margin-left: 525px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#criador {
    color: #6985ff;
}